# Archivos de configuración local y compilación de Android / Gradle
*.iml
.gradle
*/.gradle
*/**/.gradle
.kotlin
*/.kotlin
*/**/.kotlin
local.properties
*/local.properties
*/**/local.properties
.idea/caches
.idea/libraries
.idea/workspace.xml
*/.idea/caches
*/.idea/libraries
*/.idea/workspace.xml
*/**/.idea/caches
*/**/.idea/libraries
*/**/.idea/workspace.xml
.DS_Store
build/
*/build/
*/**/build/
.cxx
*/.cxx
*/**/.cxx
captures/
